
# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# Class Files #
*.class 
# .class files kan behövas ta bort om vissa filer inte kan ses. Emanuel 2025-05-15 #
# Package Files #
*.jar
*.war
*.ear